<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>便當管理</title>
	<link rel="stylesheet" type="text/css" href="themes/black/easyui.css">
	<link rel="stylesheet" type="text/css" href="themes/icon.css">
	<script type="text/javascript" src="jquery.min.js"></script>
	<script type="text/javascript" src="jquery.easyui.min.js"></script>
	<script src="locale/easyui-lang-zh_TW.js"></script>
</head>

<body>
	<h2>便當管理</h2>

	<div>
		<div fit="true" class="easyui-layout" style="height:455px;">

			<div collapsible="false" region="west" split="true" title="選單列表" style="width:130px;">
				<ul id="navigationTree"></ul>
			</div>

			<div region="center" class="easyui-layout">
				<table fit="true" toolbar="#tb" id="dg" title="便當列表" class="easyui-datagrid" fitColumns="true"
					singleSelect="true" pagination="true" rownumbers="true" url="/queryBento">
					<thead>
						<tr>
							<th field="id" checkbox="true" align="center"></th>
							<th field="productName" width="50" align="center">品名</th>
							<th field="price" width="100" align="center">價格</th>
							<th formatter="formatShelf" field="shelfStatus" width="200" align="center">上/下架</th>
							<th field="sellDay" width="200" align="center">每日可販賣總數量</th>
							<th field="sellPerson" width="200" align="center">每人可訂購上限數量</th>
							<th field="addTime" width="200" align="center">建立時間</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</body>

<div id="win" class="easyui-dialog" style="width:auto-width;height:auto-height;" closed="true">
	<form id="bentoForm" style="padding:10px 20px 10px 20px;">
		<table>
			<tr>
				<td align="right">便當品名:</td>
				<td><input name="productName" class="easyui-textbox"></td>
			</tr>
			<tr>
				<td align="right">價格:</td>
				<td><input name="price" class="easyui-numberbox" min="0" precision="0"></td>
			</tr>
			<tr>
				<td align="right">狀態:</td>
				<td><select class="easyui-combobox" name="shelfStatus" style="width:148px">
						<option value="1">上架</option>
						<option value="0">下架</option>
					</select></td>
			</tr>
			<tr>
				<td align="right">每日可販賣數量:</td>
				<td><input name="sellDay" class="easyui-numberbox" min="1" precision="0"></td>
			</tr>
			<tr>
				<td align="right">每人可訂購數量:</td>
				<td><input name="sellPerson" class="easyui-numberbox" min="1" precision="0"></td>
			</tr>
		</table>

		<div style="padding:5px;text-align:center;">
			<a href="#" class="easyui-linkbutton" icon="icon-ok" onclick="addBento()">確認</a>
			<a href="#" class="easyui-linkbutton" icon="icon-cancel"
				onclick="javascript:$('#win').dialog('close')">取消</a>
		</div>
	</form>
</div>

<div id="dlg" class="easyui-dialog" style="width:auto-width;height:auto-height;" closed="true">
	<form id="fm" style="padding:10px 20px 10px 40px;">
		<table>
			<tr>
				<td align="right">便當品名:</td>
				<td><input name="productName" class="easyui-textbox"></td>
			</tr>
			<tr>
				<td align="right">價格:</td>
				<td><input name="price" class="easyui-numberbox" min="0" precision="0"></td>
			</tr>
			<tr>
				<td align="right">狀態:</td>
				<td><select class="easyui-combobox" name="shelfStatus" style="width:148px">
						<option value="1">上架</option>
						<option value="0">下架</option>
					</select></td>
			</tr>
			<tr>
				<td align="right">每日可販賣數量:</td>
				<td><input name="sellDay" class="easyui-numberbox" min="1" precision="0"></td>
			</tr>
			<tr>
				<td align="right">每人可訂購數量:</td>
				<td><input name="sellPerson" class="easyui-numberbox" min="1" precision="0"></td>
			</tr>
			<tr hidden="true">
				<td align="right">menuId:</td>
				<td><input name="menuId" class="easyui-numberbox"></td>
			</tr>
		</table>

		<div style="padding:5px;text-align:center;">
			<a href="#" class="easyui-linkbutton" icon="icon-ok" onclick="editBento()">確認</a>
			<a href="#" class="easyui-linkbutton" icon="icon-cancel"
				onclick="javascript:$('#dlg').dialog('close')">取消</a>
		</div>
	</form>
</div>

<div id="searchdlg" class="easyui-dialog" style="width:auto-width;height:auto-height;" closed="true">
	<form id="searchForm" style="padding:10px 20px 10px 40px;">
		<table>
			<tr>
				<td>便當品名 :</td>
				<td><input name="productName" class="easyui-textbox"></td>
			</tr>
			<tr>
				<td>建立日期 :</td>
				<td> <input data-options="prompt:'開始時間'" name="startTime" class="easyui-datebox"> ~ <input
						data-options="prompt:'結束時間'" name="endTime" class="easyui-datebox"></td>
			</tr>
			<tr>
				<td align="right">狀態 :</td>
				<td><select class="easyui-combobox" name="shelfStatus" style="width:148px;">
						<option value="1">上架</option>
						<option value="0">下架</option>
					</select></td>
			</tr>
		</table>

		<div style="padding:5px;text-align:center;">
			<a href="#" class="easyui-linkbutton" icon="icon-ok" onclick="searchBento()">確認</a>
			<a href="#" class="easyui-linkbutton" icon="icon-cancel"
				onclick="javascript:$('#searchdlg').dialog('close')">取消</a>
		</div>
	</form>
</div>

<div id="tb">
	<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="openAddWin()">新增</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cut" plain="true" onclick="openEditWin()">編輯</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="openSearchWin()">進階查詢</a>
	<a id="search" class="easyui-linkbutton" iconCls="icon-reload" plain="true">更新</a>
</div>

</html>

<script type="text/javascript">

	function openAddWin() {
		$('#userForm').form('clear')
		$('#win').dialog('open').dialog('setTitle', '新增便當');
		$('#win').window('open');
	}

	function openEditWin() {
		var row = $('#dg').datagrid('getSelected');
		console.log(row);
		if (row) {
			$('#dlg').dialog('open').dialog('setTitle', '編輯便當');
			$('#fm').form('load', row);
		}
	}

	function openSearchWin() {
		$('#searchForm').form('clear')
		$('#searchdlg').dialog('open').dialog('setTitle', '進階查詢');
		$('#searchdlg').window('open');
	}

	function close() {
		$('#win').window('close');
		$('#dlg').window('close');
		$('#searchdlg').window('close');
	}

	function addBento() {

		$.ajax({
			url: '/addBento',
			data: $("#bentoForm").serialize(),
			type: 'put',
			dataType: 'json',
			success: function (data) {
				if (data.errMsg) {
					$.messager.alert('提示訊息', data.errMsg);
					return;
				}
				$.messager.alert('提示訊息', '新增成功');
				search();
				close();
			}
		});
	}

	function editBento() {
		$.ajax({
			url: '/editBento',
			data: $("#fm").serialize(),
			type: 'put',
			dataType: 'json',
			success: function (data) {
				if (data.errMsg) {
					$.messager.alert('提示訊息', data.errMsg);
					return;
				}
				$.messager.alert('提示訊息', '編輯成功');
				search();
				close();
			}
		});
	}

	function searchBento() {
		$.ajax({
			url: '/searchBento',
			data: $("#searchForm").serialize(),
			type: 'put',
			dataType: 'json',
			success: function (data) {
				$('#dg').datagrid('loadData', data.rows);
				close();
			}
		});

	}

	function formatShelf(val, row) {
		if (val === 1) {
			return '上架';
		} else {
			return '下架';
		}
	}

	function search() {
		$('#dg').datagrid('load', {});
	}

	$(function () {
		// 动态添加菜单

		$("#navigationTree").tree({
			url: "/menu/queryMenu",
			onClick: function (node) {
				window.location.href = node.url;
			}
		});
	});

	function myformatter(date) {
		var y = date.getFullYear();
		var m = date.getMonth() + 1;
		var d = date.getDate();
		return y + '-' + (m < 10 ? ('0' + m) : m) + '-' + (d < 10 ? ('0' + d) : d);
	}

	$('#search').click(function () {
		search();
	});

</script>