<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>訂單管理</title>
	<link rel="stylesheet" type="text/css" th:href="@{/themes/black/easyui.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/themes/icon.css}">
	<script type="text/javascript" th:src="@{/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/jquery.easyui.min.js}"></script>
	<script th:src="@{/locale/easyui-lang-zh_TW.js}"></script>
	<script type="text/javascript" th:src="@{/datagrid-detailview.js}"></script>
	<script th:inline="javascript">
		const contextPath = /*[[@{/}]]*/''
	</script>
</head>

<body>

	<div>
		<div fit="true" class="easyui-layout" style="height:520px;">

			<div height="65px" data-options="region:'north', border:false">
				<div id="div1">
					<img alt="dinbendon sticker" th:src="@{/images/logo_order.png}" />
				</div>
				<div id="div2">
					<span>使用者：</span>
					<span th:text="${#authentication.name}"></span>
					<span>角色：</span>
					<span th:text="${#authentication.principal.authorities}"></span>
					<a th:href="@{/logout}" class="easyui-linkbutton" icon="icon-logout">登出</a>
				</div>
			</div>

			<div collapsible="false" region="west" split="true" title="選單列表" style="width:130px;">
				<ul id="navigationTree"></ul>
			</div>

			<div region="center" title="訂單列表" class="easyui-layout">
				<table fit="true" toolbar="#tb" id="dg" class="easyui-datagrid" fitColumns="true" singleSelect="true"
					pagination="true" rownumbers="true" th:url="@{/order/queryOrderList}">
					<thead>
						<tr>
							<th field="orderAccount" width="50" align="center">訂購者帳號</th>
							<th field="orderName" width="50" align="center">訂購者姓名</th>
							<th field="orderNumber" width="50" align="center">訂單編號</th>
							<th field="totalPrice" width="100" align="center">總金額</th>
							<th field="orderTime" width="100" align="center">訂購時間</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</body>

</html>

<script type="text/javascript">

	$(function () {
		// 动态添加菜单

		$("#navigationTree").tree({
			url: contextPath + "menu/queryMenu",
			onClick: function (node) {
				window.location.href = contextPath + node.url;
			}
		});
	});
</script>

<script th:inline=none type="text/javascript">

	$('#dg').datagrid({
		view: detailview,
		detailFormatter: function (index, row) {
			return '<div style="padding:5px 0"><table class="ddv"></table></div>';
		},
		onExpandRow: function (index, row) {
			console.log(row);
			var ddv = $(this).datagrid('getRowDetail', index).find('table.ddv');
			console.log(contextPath)
			ddv.datagrid({
				url: contextPath + 'order/queryOrderListDetail?orderId=' + row.orderId,
				fitColumns: true,
				singleSelect: true,
				rownumbers: true,
				loadMsg: '讀取中...',
				height: 'auto',
				columns: [[
					{field: 'productName', title: '品項名稱', width: 80},
					{field: 'orderCount', title: '訂購數量', width: 60}
				]],
				onResize: function () {
					$('#dg').datagrid('fixDetailRowHeight', index);
				},
				onLoadSuccess: function () {
					setTimeout(function () {
						$('#dg').datagrid('fixDetailRowHeight', index);
					}, 0);
				}
			});
			$('#dg').datagrid('fixDetailRowHeight', index);
		}
	});
</script>

<style type="text/css">
	#div1 {
		float: left;
		padding: 10px;
		margin-right: 8px;
	}

	#div2 {
		float: right;
		padding: 15px;
		margin-right: 10px;
	}
</style>