<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>訂購便當</title>
	<link rel="stylesheet" type="text/css" href="themes/black/easyui.css">
	<link rel="stylesheet" type="text/css" href="themes/icon.css">
	<script type="text/javascript" src="jquery.min.js"></script>
	<script type="text/javascript" src="jquery.easyui.min.js"></script>
	<script src="locale/easyui-lang-zh_TW.js"></script>
	<script type="text/javascript" src="datagrid-cellediting.js"></script>
</head>

<body>
	<h2>訂購便當</h2>

	<div>
		<div fit="true" class="easyui-layout" style="height:455px;">

			<div collapsible="false" region="west" split="true" title="選單列表" style="width:130px;">
				<ul id="navigationTree"></ul>
			</div>

			<div region="center" class="easyui-layout">
				<table fit="true" toolbar="#tb" id="dg" title="便當列表" class="easyui-datagrid" fitColumns="true"
					singleSelect="false" pagination="true" rownumbers="true" url="/queryOrderBento" idField="menuId">
					<thead>
						<tr>
							<th field="id" checkbox="true" align="center"></th>
							<th field="productName" width="50" align="center">品名</th>
							<th field="price" width="100" align="center">價格</th>
							<th data-options="editor:{type:'numberbox',options:{precision:0}}" field="orderCount"
								width="200" align="center">訂購數量</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</body>

<div id="tb">
	<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="$('#win').dialog('open')">訂購</a>
	<a id="search" class="easyui-linkbutton" iconCls="icon-reload" plain="true">更新</a>
</div>

<div id="win" class="easyui-dialog" title="提示訊息" style="width:auto-width;height:auto-height;" closed="true">
	<form id="bentoForm" style="padding:10px 20px 10px 20px;">

		<div align="center">
			<td>確定要訂購?</td>
		</div>
		<div style="padding:5px;text-align:center;">
			<a href="#" class="easyui-linkbutton" icon="icon-ok" onclick="addBento()">確認</a>
			<a href="#" class="easyui-linkbutton" icon="icon-cancel"
				onclick="javascript:$('#win').dialog('close')">取消</a>
		</div>
	</form>
</div>

</html>

<script type="text/javascript">
	function openAddWin() {
		$('#userForm').form('clear')
		$('#win').dialog('open').dialog('setTitle', '新增訂單');
		$('#win').window('open');
	}

	function close() {
		$('#win').window('close');
		$('#dlg').window('close');
		$('#searchdlg').window('close');
	}

	function addBento() {

		var rows = [];
		var dataList = [];
		dataList = $('#dg').datagrid('getChecked');
		for (var i = 0; i < dataList.length; i++) {
			var row = {};
			row.menuId = dataList[i].menuId;
			row.price = dataList[i].price;
			row.orderCount = dataList[i].orderCount;
			row.sellPerson = dataList[i].sellPerson;
			row.sellDay = dataList[i].sellDay;
			row.addTime = dataList[i].addTime;
			row.productName = dataList[i].productName;
			rows.push(row);

		}
		console.log(JSON.stringify(rows[0]));
		console.log(rows[0]);
		$.ajax({
			url: '/addOrderBento',
			data: JSON.stringify(rows),
			type: 'put',
			dataType: 'json',
			contentType: 'application/json',
			success: function (data) {
				if (data.errMsg) {
					$.messager.alert('提示訊息', data.errMsg);
					return;
				}
				$.messager.alert('提示訊息', '執行成功');
				search();
				$('#dg').datagrid('clearChecked');
				close();
			}
		});
	}
	
	$(function () {
		// 动态添加菜单

		$("#navigationTree").tree({
			url: "/menu/queryMenu",
			onClick: function (node) {
				window.location.href = node.url;
			}
		});
	});

	$('#search').click(function () {
		search();
	});

	function search() {
		$('#dg').datagrid('load', {});
	}
	
	$(function () {
		$('#dg').datagrid('enableCellEditing').datagrid('gotoCell', {
			index: 0,
			field: 'id'
		});
	});
</script>